<div class="cart-container">
  <div class="cart-item">
    <app-cart-item
      *ngFor="let cart of cartList"
      [cart]="cart"
      (updateAmount)="updateTotal($event)"
      (removeFromCart)="removeFromCart($event)"
    >
    </app-cart-item>
    <h3>Total:${{ total.toFixed(2) }}</h3>
  </div>

  <div class="checkout-form">
    <form #form="ngForm" class="form-margin" (submit)="formsubmited()">
      <div>
        <label>Fullname</label>
      </div>
      <div>
        <input
          class="input-raduis"
          type="text"
          name="name"
          placeholder="(minimum 3 characters)"
          required
          minlength="3"
          [(ngModel)]="name"
        />
      </div>
      <div>
        <label>Address</label>
      </div>
      <div>
        <input
          class="input-raduis"
          type="text"
          name="address"
          placeholder="(minimum 6 characters)"
          minlength="6"
          required
          [(ngModel)]="address"
        />
      </div>
      <div>
        <label>Credit card number</label>
      </div>
      <div>
        <input
          class="input-raduis"
          type="text"
          name="credit-card"
          placeholder="(16-digit number)"
          minlength="16"
          maxlength="16"
          required
          [(ngModel)]="creditcard"
          #credit="ngModel"
          [ngClass]="{ 'invalid-input': !validateCreditCard() }"
        />
        <div
          *ngIf="credit.dirty && !validateCreditCard()"
          class="error-message"
        >
          Please enter a valid credit card number.
        </div>
      </div>
      <br />
      <p class="secret">
        We'll never share your payment details with anyone else.
      </p>
      <input
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || !validateCreditCard()"
        value="Submit"
      />
    </form>
  </div>
</div>
